.secao {
    width: 100%;
}

/*
?px = breakpoint de conteúdo, ponto de quebra
width/height: de tamanho ?px
min-width/height: de ?px ou maiores (para cima/no mínimo) mobile first!
max-width/height: de ?px ou menores (para baixo/até) ...desktop first

width/height: tamanho do body do navegador
device-width/height: tamanho da tela física do dispositivo

orientation: portrait ou landscape

...
*/

@media(min-width: 768px){
    .secao {
        width: 50%;
    }
}

@media(min-width: 1024px){
    .secao {
        width: 33.3%;
    }
}