/* número de colunas condicional ao tamanho da janela */

/* mobile first */
.secao {
    width: 100%;
}

@media(min-width: 600px){
    .secao {
        width: 50px;
    }
}

@media(min-width: 1000px){
    .secao {
        width: 33.333%;
    }
}